<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
	<sitecore role:require="Standalone or ContentManagement">
		<pipelines>
			<buckets.resolveUIDocumentMapperFactoryRules>
				<processor 
					patch:before="processor[@type='Sitecore.Buckets.Pipelines.UI.Search.ResolveDocumentMapperFactoryRule.ResolveSitecoreUIRules, Sitecore.Buckets']"
					type="MyAssembly.MyNamespace.CleanupMultiRootLocation, MyAssembly"/>
			</buckets.resolveUIDocumentMapperFactoryRules>
			<contentSearch.getGlobalSearchFilters>
				<processor type="MyAssembly.MyNamespace.AddMultiRootExpressionToQuery, MyAssembly"/>
			</contentSearch.getGlobalSearchFilters>
		</pipelines>
		<services>
			<configurator type="MyAssembly.MyNamespace.MultiRootMultilistWithSearchServicesConfigurator, MyAssembly" />
		</services>
	</sitecore>
</configuration>